<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/css/styles.css">
        <title>Home | Fitness Management System</title>
    </head>
    <body>
        <main>
            <section class="banner">
                <h1>Welcome to FIMS</h1>
            </section>
            <section class="content">
                <div class="card instructor-card">
                    <a href="/instructors">
                        <h2>Instructors</h2>
                    </a>
                </div>
                <div class="card member-card">
                    <a href="/members">
                        <h2>Members</h2>
                    </a>
                </div>
                <div class="card schedule-card">
                    <a href="/schedule">
                        <h2>Schedule</h2>
                    </a>
                </div>
                <div class="card plan-card">
                    <a href="/plan">
                        <h2>Plan</h2>
                    </a>
                </div>
            </section>
        </main>
    </body>
</html>