<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if IE]><link rel="shortcut icon" href="/img/favicon.ico"><![endif]-->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>Login | Gym Manager</title>
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
<div class="login-box">  
  <h1>Login</h1>
  <div class="textbox">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Username">
  </div>

  <div class="textbox">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Password">
  </div>

  <input type="button" class="btn" value="Sign in" a href="/instructors>
</div>
  </body>
</html>
