<div class="item">
    <div>URL Avatar</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{instructor.avatar_url}}">
    </div>
</div>
<div class="item">
    <div>Instructor</div>
    <div>
        <input type="text" name="name" placeholder="Name of instructor" value="{{instructor.name}}">
    </div>
</div>
<div class="item">
    <div>Date of Birth</div>
    <div>
        <input type="date" name="birth" value="{{instructor.birth}}">
    </div>
</div>
<div class="item">
    <div>Sex</div>
    <div>
        <span><input type="radio" name="gender" value="M" {% if instructor.gender == "M" %} checked="checked" {% endif %}>
            Male</span>
        <span><input type="radio" name="gender" value="F" {% if instructor.gender == "F" %} checked="checked" {% endif %}>
            Female</span>
    </div>
</div>
<div class="item">
    <div>Specialty</div>
    <div>
        <input type="text" name="services" placeholder="separate the service by comma" value="{{instructor.services}}">
    </div>
</div>
<button type="submit">Save</button>