<div class="item">
    <div>Plan</div>
    <div>
        <input type="text" name="name" placeholder="Name of plan" value="{{plan.name}}">
    </div>
</div>
<div class="item">
    <div>Duration</div>
    <div>
        <input type="text" name="duration" value="{{plan.duration}}">
    </div>
</div>
<div class="item">
    <div>Details</div>
    <div>
        <input type="text" name="details" value="{{plan.details}}">
    </div>
<div class="item">
    <div>Price</div>
    <div>
        <input type="text" name="price" value="{{plan.price}}">
    </div>
</div>
</div><button type="submit">Save</button>